.clearfix {
	display: block;
	clear: both;
}

.columns {
	-webkit-perspective: 90000px;
	perspective: 90000px;
	/* on iOS images are not seen in the beginning. The above fixes the issue */
}

body {
	background: #000 url(../images/bg.jpg) repeat-x fixed;
}

h1, h2 {
	color: #fff;
	font-family: 'Source Sans Pro';
	text-align: center;
}

h1 {
	margin: 100px 0;
	font-size: 4em;
}

a.img-click {
	border: 10px solid #000;
	display: block;
}

span {
	font-size: 1em;
	color: #7c7c7c;
}

h2 {
	font-size: 1.5em;
}

.img-info {
	position: absolute;
	background: #000;
	bottom: 0;
	padding: 12px;
	text-align: center;
	/*visibility: hidden;*/
}

.img-click img {
	opacity: 0.8;
}

h2 {
	padding: 0;
	margin: 0;
}

.secondary {
	margin: 50px auto 200px auto !important;
}