#top-container {
	background: #0bc770;
	min-height: 800px;
	padding: 230px 0;
}

#block {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	background: #fff url(../images/block.png) no-repeat 43px;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

#block:hover {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	/*-webkit-animation-iteration-count: 3;
	animation-iteration-count: 3;
	-webkit-animation-direction: alternate;
	animation-direction: alternate; 
	animation-delay: 2s;
	-webkit-animation-delay: 2s;*/
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both; /* Remove jerky end effect */
}

@keyframes fadeIn {
	0% { 
		opacity: 0; 
		-webkit-transform: perspective(400px) rotateX(90deg);
	}
	100% { 
		opacity: 100; 
	    -webkit-transform: perspective(400px) rotateX(-30deg);
	}			
}

@-webkit-keyframes fadeIn {
	0% { 
		opacity: 0; 
		-webkit-transform: perspective(400px) rotateX(90deg);
	}
	100% { 
		opacity: 100; 
	    -webkit-transform: perspective(400px) rotateX(-30deg);
	}		
}

@keyframes fadeOut {
	0% { 
		-webkit-transform: perspective(400px) rotateX(-30deg);
	}
	100% { 
	    -webkit-transform: perspective(400px) rotateX(90deg);
	}			
}

@-webkit-keyframes fadeOut {
	0% { 
		-webkit-transform: perspective(400px) rotateX(-30deg);
	}
	100% { 
	    -webkit-transform: perspective(400px) rotateX(90deg);
	}			
}